@media screen and (max-width: 1368px)
  ._container
    max-width: 705px

@media screen and (max-width: 600px)
  ._container
    max-width: 375px
    min-width: 375px
    margin: 0
  .participate
    padding: 40px 0 30px 0
    &__title
      text-align: center
      line-height: 40px
      max-width: 95vw
  .dropdown
    max-width: 95vw
    position: relative
    left: 50%
    transform: translateX(-50%)


