@media screen and (max-width: 1368px)
  ._container
    max-width: 705px
  //.btn
  //  padding: 10px 18px
  //  font-size: 14px
  .welcome
    min-width: 768px
    max-width: 768px
    height: 420px
    padding: 0px 38px 0 38px
    gap: 45px
    &__left
      margin-top: -15px
    &__game
      max-width: 308px
      margin-top: 65px
    &__title
      max-width: 316px
      margin-bottom: 15px
    &__subtitle
      margin-bottom: 24px
  .scroll
    padding: 16px 0
    &__text
      padding-right: 16px

@media screen and (max-width: 900px)
  .promo
    &__illustration
      left: calc(100% - 250px)
  .drop
    &__decor
      &-left
        max-width: 195px
        transform: rotate(90deg)
        left: 25px
      &-right
        max-width: 220px
        transform: rotate(-120deg)
        right: 30px
        top: 225px
    &__reminder
      font-size: 24px


@media screen and (max-width: 760px)
  .welcome
    min-width: 700px
  .participate
    &__steps
      transform: scale(.9)
  .promo
    &__illustration
      transform: scale(.9)

@media screen and (max-width: 600px)
  ._container
    max-width: 375px
    min-width: 375px
    margin: 0
  .welcome
    padding: 10px 5px 17px 5px
    min-width: 375px
    max-width: 100%
    width: 100%
    height: 400px
    gap: 0
    flex-direction: column
    align-items: center
    justify-content: flex-start
    &__date
      position: relative
      font-size: 16px
      width: 157px
      height: 25px
      top: 0
      right: 0
    &__right
      position: absolute
      left: 50%
      top: 60px
      transform: translateX(-50%)
    &__game
      max-width: 200px
      min-width: 200px
      margin: 0
    &__title
      max-width: 356px
    &__subtitle
      margin: 0
      font-size: 14px
    &__left
      margin: 0
      height: 100%
      &-wrap
        display: flex
        align-items: center
        justify-content: center
        margin: auto 0 16px 0
        gap: 16px
    &__title
      margin: 0
  .promo
    &__illustration
      transform: scale(1) translateX(50%)
      //right: 50%
      left: calc(100% - 485px)
      width: 300px
      height: 282px
      top: auto
      bottom: 0
      z-index: 2
    &__bottom
      gap: 8px
      &::before, &::after
        min-width: 56px
        max-width: 56px
        height: 56px
    &__text
      text-align: center
      max-width: 98vw
      margin: 0 auto
      padding: 0 5px
      p
        text-align: center
        width: 100%
    &__bottom
      min-width: 415px
      position: relative
      left: 50%
      transform: translateX(-50%)
      margin-top: 140px
    &__element
      &_ball
        max-width: 130px
        left: calc(50% - 65px)
        top: calc(50% - 65px)
      &_vector
        max-width: 244px
        top: calc(50% - 122px)
        left: calc(50% - 122px)
        z-index: 1
      &_chips-1
        max-width: 221px
      &_chips-2
        max-width: 221px
      &_barcode
        width: 250px
        left: 50%
        transform: translateX(-50%)
        bottom: auto
        top: 20px
        z-index: 0
  .participate
    padding: 40px 0 30px 0
    &__title
      text-align: center
      line-height: 40px
      max-width: 95vw
    &__steps
      transform: scale(1)
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      gap: 16px
    &__text
      min-width: 204px
      max-width: 204px
      text-align: left
      margin-top: 0
      min-height: 45px
    &__number
      left: auto
      right: 102px
      transform: translate(50%, -50%)
      top: 10px
      width: 39px
      height: 39px
      font-size: 24px
      padding-top: 4px
    &__icon
      max-width: 150px
      min-width: 150px
      height: 150px
      &-txt
        min-width: 118px
        max-width: 118px
        height: 118px
        padding-right: 7px
        top: calc(50% - 87px)
        left: calc(50% - 87px)
      &-inner
        max-width: 100px
        min-width: 100px
        height: 100px
        top: calc(50% - 78px)
        left: calc(50% - 78px)
    &__step
      display: flex
      flex-direction: row
      &:nth-child(1)
        .participate__icon
          margin-right: 26px
        .participate__icon-txt
          font-size: 46px
        .participate__number
          top: -5px
      &:nth-child(2)
        margin: -10px 0 -80px 50px
        .participate__icon
          min-width: 215px
          height: 215px
        .participate__text
          margin: -60px 0 0 0
      &:nth-child(3)
        .participate__icon
          margin-right: 26px
        .participate__icon-txt
          span
            &:nth-child(1)
              font-size: 46px
            &:nth-child(2)
              font-size: 29px
              margin-top: 7px
        .participate__number
          top: 10px
      &:nth-child(even)
        flex-direction: row-reverse
        .participate__number
          transform: translate(-50%, -50%)
          left: 102px
          top: 17px
  .dropdown, .drop__reminder
    max-width: 95vw
    position: relative
    left: 50%
    transform: translateX(-50%)



@media screen and (max-width: 376px)
  .participate
    &__steps
      transform: scale(.8)
      margin: -15px 0 -40px 0

@media screen and (max-width: 360px)
  .welcome
    &__title
      max-width: 305px

@media screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape)
  .welcome
    min-width: 768px
    height: 300px
    gap: 115px
    &__game
      max-width: 190px

@media screen and (max-width: 750px) and (max-height: 450px) and (orientation: landscape)
  .welcome
    gap: 70px
    padding: 0px 38px 0 88px
    &__date
      right: 80px

@media screen and (max-width: 600px) and (max-height: 450px) and (orientation: landscape)
  .welcome
    padding: 0px 38px 10px 38px
    height: 400px
    &__date
      right: 0