.hide
  display: none !important

body
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  background: $blue
  img
    max-width: 100%
    height: auto
  & > *
    font-family: inherit

._container
  max-width: 768px
  width: 100%
  margin: 0 auto

.btn
  color: #005
  text-align: center
  font-family: $font-roboto-condensed-bold
  font-size: 18px
  text-transform: uppercase
  border-radius: 8px
  background: $green
  display: flex
  align-items: center
  justify-content: center
  white-space: nowrap
  padding: 15px 20px
  width: fit-content
  position: relative
  z-index: 2
  transition: background-color .3s ease
  cursor: pointer
  &:hover
    background: $green-light
  

.fav-page
  background: $blue
  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden
  position: relative
  padding-bottom: 30px
  &::before
    content: ""
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    min-width: 6852px
    max-width: 6852px
    height: 750px
    z-index: 0
    pointer-events: none
    background: url("https://fav-prom.com/html/info-page-black-friday/img/bottom-decor.svg") no-repeat center/cover
    @media screen and (max-width: 1368px)
      min-width: 4510px
      max-width: 4510px
      height: 495px

.snowflakes
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1
  pointer-events: none


// loader

.spinner-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-color: $white
  display: flex
  justify-content: center
  align-items: center
  z-index: 8

.spinner
  width: 60px
  height: 60px
  background: url("https://fav-prom.com/html/info-page-black-friday/img/loader.svg") no-repeat 0 0/contain
  animation: scale .7s alternate infinite

.fav-page.loading
  max-height: 100vh
  overflow: hidden

.welcome
  position: relative
  &__progress
    margin-top: 20px
    &-top
      display: flex
      align-items: center
      justify-content: flex-start
    &-label
      color: $white
      font-family: $font-roboto-condensed-reg
      font-size: 14px
    &-wrapper
      position: relative
      display: flex
      align-items: center
      gap: 10px
      max-width: 385px
    &-bar
      width: 100%
      height: 20px
      display: block
    &-percent
      color: $white
      font-family: $font-roboto-condensed-bold
      font-size: 14px
      white-space: nowrap
      min-width: 40px
      text-align: right


.participate
  display: flex
  flex-direction: column
  align-items: center
  z-index: 1
  padding: 70px 0 30px 0
  &__title
    color: $magenta
    font-size: 40px
    font-family: $font-favbet-display
  &__canvas-wrapper
    width: 100%
    max-width: 1366px
    margin: 30px 0
    display: flex
    justify-content: center
  &__canvas
    width: 100%
    max-width: 1366px
    height: auto
    display: block
    image-rendering: pixelated
    image-rendering: crisp-edges

.drop
  max-width: 768px
  width: 95%
  margin: 12px auto 0 auto
  border-radius: 10px
  position: relative
  z-index: 5
  .dropdown
    z-index: 5
    position: relative
    scroll-margin-top: 120px
  .dropdown[open] summary::before
    transform:  rotate(180deg)
  summary::-webkit-details-marker
    display: none
    > summary
      list-style: none
  summary
    list-style: none
    padding: 4px 15px 12px 0
    font-family: $font-roboto-condensed-bold
    font-size: 14px
    cursor: pointer
    background-size: 100% 100%
    display: flex
    align-items: center
    justify-content: space-between
    color: $white
    height: 33px
    border-bottom: 1px solid #9299AF
    scroll-margin-top: 120px
    @media screen and (max-width: 600px)
      font-size: 14px
      line-height: 22px
    &::before
      content: ""
      display: block
      min-width: 12px
      height: 12px
      background: url("https://fav-prom.com/html/game-universe/img/arrow-drop.png") no-repeat 0 0/contain
      order: 2

  &-txt
    padding: 15px
    margin-top: 10px
    max-height: 350px
    overflow-y: auto
    background: rgba($blue, .2)
    backdrop-filter: blur(3px)
    //border: 1px solid $white
    scrollbar-width: auto
    &::-webkit-scrollbar-thumb
      background: $green
      width: 3px
      border-radius: 3px
    &::-webkit-scrollbar
      background: $white
      width: 3px
    &-list
      display: flex
      flex-direction: column
      gap: 15px
      table
        border-spacing: 0
        border-color: $white
        tr, td
          border-color: $white
          color: $white
        td
          border: none
          border-right: 1px solid $white
          padding: 0 5px
        th
          padding: 0 5px
      p, strong, a
        font-size: 14px
        line-height: 22px
        font-family: $font-roboto-condensed-reg
        color: $white
      span
        font-family: $font-roboto-condensed-reg
        display: block
      tr,td
        font-family: $font-roboto-condensed-reg
      td
        padding-left: 5px

//content styles
.drop
  .magenta
    font-family: inherit
    color: $magenta
.retreat1
  padding-left: 20px
  strong
    font-family: $font-roboto-condensed-bold
    color: $white
  p
    &:not(:last-child)
        padding-bottom: 15px

.retreat2
  padding-left: 40px
  strong
    font-family: $font-roboto-condensed-bold
    color: $white
  p
    &:not(:last-child)
      padding-bottom: 15px

.circle
  padding-left: 20px
  &:before
    content: ''
    width: 5px
    height: 5px
    background: $white
    border-radius: 50%
    display: inline-block
    margin: 0 8px 3px 0

@media screen and (max-width: 600px)
  .circle
    padding-left: 15px
  .retreat1
    padding-left: 15px
  .retreat2
    padding-left: 30px

//end contents styles

body.dark
  .spinner-overlay
    background: $black

@keyframes scale
  0%
    transform: scale(.8)
  100%
    transform: scale(1)

