.fav-page.loading
    .sticky-frame
        .frame
            .frame__left
                .frame__left-item(data-translate="leftItemText1") Razina:
                .frame__left-item(data-translate="leftItemText2") Božić
            picture.frame__hearts
                source(media="(max-width: 1050px)" srcset="img/hearts-frame-mob.png")
                img(src="img/hearts-frame.png" alt="favbet")
        .sticky-wrap
            canvas.snowflakes#snowflakesCanvas
            .spinner-overlay
                .spinner
            canvas.snowflakes#snowflakesCanvas
            // Welcome section
            .welcome._container
                .welcome__content
                    .welcome__decor
                        .welcome__decor-item._gamepad
                            img(src="img/welcome/gamepad.png" alt="favet")
                        .welcome__decor-item._chip
                            img(src="img/welcome/chip.png" alt="favet")

                        .welcome__decor-item._coin
                            img(src="img/welcome/coin.png" alt="favet")

                        .welcome__decor-item._ball
                            img(src="img/welcome/ball.png" alt="favet")

                        .welcome__decor-item._cup
                            img(src="img/welcome/cup.png" alt="favet")

                        .welcome__decor-item._cube
                            img(src="img/welcome/cube.png" alt="favet")

                        .welcome__decor-item._globe
                            img(src="img/welcome/globe.png" alt="favet")

                    picture.welcome__title.hr
                        source(media="(max-width: 600px)" srcset="img/welcome/title-mob.png")
                        source(media="(max-width: 1050px)" srcset="img/welcome/title-tab.png")
                        img(src="img/welcome/title.png" alt="favbet")
                    picture.welcome__title.en
                        source(media="(max-width: 600px)" srcset="img/welcome/title-mob-en.png")
                        source(media="(max-width: 1050px)" srcset="img/welcome/title-tab-en.png")
                        img(src="img/welcome/title-en.png" alt="favet")
                    a.welcome__btn.btn.unauth-msg(data-translate="loginBtn" href="/login/" data-promo="razina_2026_hr" data-button="loginBtn_top") PRIJAVI SE
                    button.welcome__btn.btn.btn-join.hide(data-translate="partBtn" data-promo="razina_2026_hr" data-button="partBtn_top") PRIJAVI SE
                    a.welcome__btn.btn.btn-join.hide(data-translate="playBtn" href="/personal-office/balance/deposit/" data-promo="razina_2026_hr" data-button="playBtn_top") PRIJAVI SE
                    .welcome__prize
                        .welcome__prize-label._title(data-translate="prizePoolLabel") NAGRADNI FOND:
                        .welcome__prize-amount._title(data-translate="prizePoolAmount") 40.000 €
                    .welcome__progress
                        .welcome__progress-top
                            .welcome__progress-label(data-translate="progressLabel") /UČITAVANJE NAGRADNOG FONDA
                            .welcome__progress-percent#progressPercent 0%
                        .welcome__progress-wrapper
                            canvas.welcome__progress-bar#progressBarCanvas

                    .welcome__text(data-translate="welcomeText")
                        p Ukupni nagradni fond promocije "Razina 2026" iznosi 40.000 €.
                        p Promocija traje od 15.12.2025. do 11.01.2026. Svaki tjedan nagradni fond iznosi 10.000 €.
                        p Detalji promocije dostupni su na favbet.hr
                    .welcome__bottom(data-translate="welcomeBottom") Trajanje promocije: od 15.12.2025. do 11.01.2025.
            // Participate section
            .participate._container
                .participate__title._title(data-translate="participateTitle") KAKO SUDJELOVATI?
                .participate__description(data-translate="participateDescription") Tijekom 4 tjedna sudjeluj u FAVBET promociji "Razina 2026" i uzmi dio nagradnog fonda od 40.000 €.
                .participate__canvas-wrapper
                    canvas.participate__canvas#participateCanvas
                .drop
                    details.dropdown
                        summary(data-translate="participateDetailsBtn") Više detalja
                        .drop-txt
                            .drop-txt-list(data-translate="participateDetailsText")
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                a.participate__btn.btn.unauth-msg(data-translate="loginBtn" href="/login/" data-promo="razina_2026_hr" data-button="loginBtn_center") PRIJAVI SE
                button.participate__btn.btn.part-btn.hide(data-translate="partBtn" data-promo="razina_2026_hr" data-button="participateBtn_center") PRIJAVI SE
                a.participate__btn.btn.btn-join.hide(data-translate="playBtn" href="/personal-office/balance/deposit/" data-promo="razina_2026_hr" data-button="playBtn_center") PRIJAVI SE
            // Results section
            .results._container
                .results__title._title(data-translate="resultsTitle") REZULTATI
                .results__description(data-translate="resultsDescription") Natječi se za nagrade i dođi do vrha tablice promocije!
                .table
                    .table__tabs(data-table="main")
                        .table__tabs-item.active(data-week="1") #[span(data-translate="tableTab") 1. TJEDAN]
                        .table__tabs-item(data-week="2") #[span(data-translate="tableTab") 2. TJEDAN]
                        .table__tabs-item(data-week="3") #[span(data-translate="tableTab") 3. TJEDAN]
                        .table__tabs-item(data-week="4") #[span(data-translate="tableTab") 4. TJEDAN]
                    .table__head
                        .table__row(style="--cols: 5")
                            .table__row-item(data-translate="tablePlace") Mjesto
                            .table__row-item(data-translate="tableId") ID
                            .table__row-item(data-translate="tablePoints") Bodovi
                            .table__row-item(data-translate="tablePrize") Nagrade
                            .table__row-item(data-translate="tablePlaythrough") Proigravanje
                    .table__body#table(style="--cols: 5")
                        .table__row.place1.you
                            .table__row-item
                                | 01
                                span.you (you)
                            .table__row-item ***1234
                            .table__row-item 1234.56
                            .table__row-item €2000
                            .table__row-item x1

                        .table__row.place2
                            .table__row-item 02
                            .table__row-item ***5678
                            .table__row-item 987.65
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row.place3
                            .table__row-item 03
                            .table__row-item ***9012
                            .table__row-item 765.43
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row
                            .table__row-item 04
                            .table__row-item ***3456
                            .table__row-item 543.21
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row
                            .table__row-item 05
                            .table__row-item ***7890
                            .table__row-item 432.10
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row
                            .table__row-item 06
                            .table__row-item ***2345
                            .table__row-item 321.09
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row
                            .table__row-item 07
                            .table__row-item ***6789
                            .table__row-item 210.98
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row
                            .table__row-item 08
                            .table__row-item ***0123
                            .table__row-item 109.87
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row
                            .table__row-item 09
                            .table__row-item ***4567
                            .table__row-item 98.76
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row
                            .table__row-item 10
                            .table__row-item ***8901
                            .table__row-item 87.65
                            .table__row-item €2000
                            .table__row-item x1
                    .table__body#tableOther(style="--cols: 5")
                        .table__row._neighbor
                            .table__row-item 14
                            .table__row-item ***1111
                            .table__row-item 50.00
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row.you
                            .table__row-item
                                | 15
                                span.you (you)
                            .table__row-item 12345678
                            .table__row-item 45.32
                            .table__row-item €2000
                            .table__row-item x1
                        .table__row._neighbor
                            .table__row-item 16
                            .table__row-item ***2222
                            .table__row-item 40.00
                            .table__row-item €2000
                            .table__row-item x1
                .results__bottom #[span(data-translate="lastUpdate") Zadnje ažuriranje: ] #[span.last-upd XX.XX.20XX u XX:XX ]
                .drop
                    details.dropdown
                        summary(data-translate="resultsDetailsBtn") Više detalja
                        .drop-txt
                            .drop-txt-list(data-translate="resultsDetailsText")
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                                p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
            // Promotional games section
            .games._container
                .games__title._title(data-translate="gamesTitle") PROMOTIVNE IGRE
                .games__wrap
                    // Список ігор для тижня 1
                    .games__list._week1
                        - for (var i = 1; i <= 10; i++)
                            .games__item
                                a.games__item-link(href="#" data-button="week1Game" + i data-promo="razina_2026_hr" data-game-id="week1_game" + i)
                                    .games__item-img
                                        img(src="img/games/week1/game" + i + ".png" alt="Game " + i)
                    
                    // Список ігор для тижня 2
                    .games__list._week2.hide
                        - for (var i = 1; i <= 10; i++)
                            .games__item
                                a.games__item-link(href="#" data-button="week2Game" + i data-promo="razina_2026_hr" data-game-id="week2_game" + i)
                                    .games__item-img
                                        img(src="img/games/week2/game" + i + ".png" alt="Game " + i)
                    
                    // Список ігор для тижня 3
                    .games__list._week3.hide
                        - for (var i = 1; i <= 10; i++)
                            .games__item
                                a.games__item-link(href="#" data-button="week3Game" + i data-promo="razina_2026_hr" data-game-id="week3_game" + i)
                                    .games__item-img
                                        img(src="img/games/week3/game" + i + ".png" alt="Game " + i)
                    
                    // Список ігор для тижня 4
                    .games__list._week4.hide
                        - for (var i = 1; i <= 10; i++)
                            .games__item
                                a.games__item-link(href="#" data-button="week4Game" + i data-promo="razina_2026_hr" data-game-id="week4_game" + i)
                                    .games__item-img
                                        img(src="img/games/week4/game" + i + ".png" alt="Game " + i)

                .games__actions
                    a.games__btn.games__btn_casino.btn.btn-join(data-translate="playCasinoBtn" href="/casino" data-button="playCasinoBtn")
                        span IGRAJ U CASINU
                    a.games__btn.games__btn_sport.btn.btn-join(data-translate="betSportBtn" href="/sports" data-button="betSportBtn")
                        span KLADI SE NA SPORT
            // Rules section
            .drop
                details.dropdown
                    summary(data-translate="rulesDetailsBtn") Više detalja
                    .drop-txt
                        .drop-txt-list(data-translate="rulesDetailsText")
                            p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                            p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                            p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                            p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh
                            p dsadasdasdadasdasmdaskojd sahdas odohisa odashiod asoi dhas daos dhioash doasdh